
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: url(../img/olena-sergienko-JjGLEN7T8xI-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    display: grid;
    grid-template-areas: 
    "div div img "
    "div div img"
    "footer footer footer";
    height: 100vh;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 4fr 2fr 0.5fr;
}
div{
    grid-area: div;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #050505be;
    margin: 10px;
    padding: 10px;
}
h1{
    font-family:'PT Serif', serif;
    font-size: 4em;
    color: #EECABD;
}
p{
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color:#F8F3EB;
    text-align: center;
    padding: 30px;

}
button{
    font-family:'PT Serif', serif;
    font-size: 1.8em;
    height: auto;
    padding: 5px;
    background-color: #EECABD;
    border-radius: 3px;
    border: none;
    border-bottom: 10px solid #FC8C47;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #FC8C47;
    transition-duration: 0.3s;
}
a{
    text-decoration: none;
    color: black;
}
img{
    grid-area: img;
}

footer{
    grid-area: footer;
}

